<table
  border='0'
  cellpadding='0'
  cellspacing='0'
  style="
    margin: 100px auto 100px auto;
    color: black;
    font-family: 'Noto Sans KR', 'sans-serif' !important;
  "
  width='500px'
>
  <tr>
    <td height='4px' bgcolor='#5569ff'></td>
  </tr>
  <tr>
    <td height='30px'></td>
  </tr>
  <tr>
    <td>
      <p
        style='
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
          margin: 0;
          padding: 10px;
        '
      >
        <a
          href='https://www.macguider.io'
          style='
            color: black;
            text-decoration: none;
          '
        >
          MacGuider&nbsp;
        </a>
        <a href='https://www.macguider.io' style='margin: 0; padding: 0;'>
          <img
            src='https://avatars.githubusercontent.com/u/131986173?s=20'
            alt='MacGuider'
            border='0'
            style='vertical-align: top;'
            height='20px'
            width='20px'
          />
        </a>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p
        style='
          color: black;
          font-size: 24px;
          font-weight: 400;
          line-height: 36px;
          margin: 0;
          padding: 10px;
        '
      >
        회원가입
        <a style='color: #5569ff'>이메일 인증</a>
        안내입니다.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p
        style='
          color: black;
          font-size: 16px;
          line-height: 30px;
          margin: 40px 0;
          padding: 0 10px;
        '
      >
        안녕하세요, MacGuider입니다.<br />
        아래
        <b style='color: #5569ff; '>'이메일 인증'</b>
        버튼을 클릭해 회원가입을 완료해 주세요.<br />
        MacGuider에 가입해 주셔서 감사합니다.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p
        style='
          margin: 5px 150px 5px 150px;
          padding: 5px;
          font-size: 16px;
          line-height: 30px;
          background-color: #5569ff;
          text-align: center;
        '
        width='200'
      >
        <a
          style='
            display: block;
            color: white; 
            text-decoration: none;
          '
          href='{{url}}'
        >이메일 인증</a>
      </p>
    </td>
  </tr>
  <tr>
    <td height='35px'></td>
  </tr>
  <tr>
    <td height='4px' bgcolor='#5569ff'></td>
  </tr>
</table>